.not-found-search {
  display: flex;
  flex-direction: column;
}
.not-found-search form.search {
  max-width: 470px;
  display: flex;
  flex-flow: nowrap;
}
.not-found-search .search-input {
  padding: 10px !important;
  background: transparent !important;
  border: 1px solid #d8d8d8 !important;
  color: #555 !important;
  width: auto !important;
  display: flex;
  flex: 1;
}
.not-found-search .search-input::placeholder {
  color: #d3d3d3;
}
.not-found-search .search-input:focus {
  outline-color: transparent;
}
.not-found-search .search-input + .search-submit {
  display: inline-block !important;
  background: #fff !important;
  border: 1px solid #d8d8d8;
  height: 56px;
  color: #555;
  font-size: 21px;
  width: 56px;
  margin-left: -4px;
  display: flex;
  flex: 0 0 56px;
}
.not-found-search .search-input + .search-submit .fa:before {
  opacity: 0.4;
}
.not-found-search .search-input + .search-submit:hover .fa:before {
  opacity: 1;
}
.not-found-search .search-input + .search-submit:focus {
  outline-color: transparent;
}
.not-found-search-desc {
  padding-top: 10px;
}
.not-found-search-desc span {
  font-size: 14px;
  font-style: italic;
  color: #888;
}
.not-found-search-desc span a {
  border-bottom: 1px dashed;
  text-decoration: none;
}
.not-found-search-desc span a:hover {
  border-bottom: 1px solid;
}
.not-found-search-desc span a.btn {
  font-size: 14px;
  margin-left: 10px;
  border-radius: 0px;
  padding: 7px 10px;
}
.not-found-search-desc span a.btn .fa {
  margin-left: 5px;
}
