@font-face {
  font-family: 'Citrina';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://static.bancointer.com.br/fonts/Citrina-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Citrina';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://static.bancointer.com.br/fonts/Citrina-Medium.woff2) format('woff2');
}
